:root {
  --main-text-color: #131313;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
}

.center {
  padding-left: calc(50vw - 140px);
  padding-right: calc(50vw - 140px);
}

img {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  background-color: var(--main-text-color);
  color: white;
  padding: 11px;
  width: 120px;
  font-weight: 400;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
}

@media screen and (min-width: 900px) {
  .center {
    padding-left: calc(50vw - 420px);
    padding-right: calc(50vw - 420px);
  }
}
.header {
  z-index: 10;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 22px;
}
.header .logo {
  display: block;
}
.header__toggler {
  width: 24px;
  height: 15px;
  display: block;
  position: relative;
  z-index: 3;
}
.header__toggler span {
  width: 100%;
  height: 1px;
  background: var(--main-text-color);
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(-50%);
}
.header__toggler span:nth-child(2) {
  width: 18px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header__toggler span:nth-child(3) {
  top: 100%;
}
.header__nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  display: none;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding: 40px;
  box-sizing: border-box;
}
.header__nav-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}
.header__nav-list a {
  color: var(--main-text-color);
  font-weight: 400;
  text-decoration: none;
}
.header-desktop__nav {
  display: none;
}
#nav-toggler:checked ~ .header__nav {
  display: flex;
}
#nav-toggler:checked ~ .header__toggler span {
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%) rotate(225deg);
}
#nav-toggler:checked ~ .header__toggler span:nth-child(2) {
  transform: translate(-50%, -50%) rotate(-225deg);
}

@media screen and (min-width: 900px) {
  .header .header__toggler {
    display: none;
  }
  .header-desktop__nav {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .header-desktop__nav ul {
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
  }
  .header-desktop__nav ul li {
    list-style-type: none;
  }
  .header-desktop__nav ul li a {
    color: var(--main-text-color);
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
  }
}
.footer {
  z-index: 0;
  background-color: #EAF5F9;
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  padding-top: 40px;
  padding-bottom: 76px;
}
.footer__list {
  list-style-type: none;
  text-align: center;
  margin: 0 0 35px;
  padding: 0;
}
.footer__list li {
  margin: 0 0 15px;
}
.footer__list li a {
  font-weight: 400;
  text-decoration: none;
  color: var(--main-text-color);
  margin: 0;
}
.footer__copyrights {
  text-align: center;
  color: #CBDFE6;
  margin: 0 0 15px;
}
.footer__logo {
  margin: 0 auto;
}

@media screen and (min-width: 900px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 55px;
    padding-bottom: 55px;
  }
  .footer__list {
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
  }
  .footer__list li {
    margin: 0;
  }
  .footer__copyrights {
    margin: 0 26px 0 0;
    padding: 0;
  }
  .footer__logo {
    margin: 0 15px 0 0;
    width: 114px;
  }
}

/*# sourceMappingURL=style.css.map */
