.footer {
  z-index: 0;
  background-color: #EAF5F9;
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  padding-top: 40px;
  padding-bottom: 76px;

  &__list {
    list-style-type: none;
    text-align: center;
    margin: 0 0 35px;
    padding: 0;


    li {
      margin: 0 0 15px;

      a {
        font-weight: 400;
        text-decoration: none;
        color: var(--main-text-color);
        margin: 0;
      }
    }


  }
  &__copyrights {
    text-align: center;
    color: #CBDFE6;
    margin: 0 0 15px;
  }

  &__logo {
    margin: 0 auto;
  }

}

@media screen and (min-width: 900px) {

  .footer {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 55px;
    padding-bottom: 55px;

    &__list {
      display: flex;
      gap: 30px;
      margin: 0;
      padding: 0;

      li {
        margin: 0;
      }
    }

    &__copyrights {
      margin: 0 26px 0 0;
      padding: 0;
    }

    &__logo {
      margin: 0 15px 0 0;
      width: 114px;
    }
  }
}
