body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
}

.center {
  padding-left: calc(50vw - 140px);
  padding-right: calc(50vw - 140px);
}

img {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  background-color: var(--main-text-color);
  color: white;
  padding: 11px;
  width: 120px;
  font-weight: 400;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
}

@media screen and (min-width: 900px) {
  .center {
    padding-left: calc(50vw - 420px);
    padding-right: calc(50vw - 420px);
  }
}